**/__pycache__
/runner/exp
/runner/data
/runner/results
/runner/logs
/runner/programs
/my-files
*.pyc
/ggp-base-sancho/bin
/ggp-base-sancho/.metadata/
/ggp-base-sancho/oneshot
/ggp-base-sancho/server.log
/ggp-base-sancho/logs
/ggp-base-sancho/junit
/Report/_minted-project
